<%= content_for :includes do %>
    <%= stylesheet_link_tag 'room' %>
    <%= javascript_pack_tag 'room/index_main' %>
    <script src="https://www.youtube.com/iframe_api"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<% end %>

<title>Watch with your friends here!</title>

<%= render 'hidden_variables' %>

<div class="container-fluid">
    <div class="row row-eq-height">
        <%= render 'video' %>
        <%= render 'chat' %>
    </div>
    <div class="row row-eq-height pt-1 pb-0">
        <%= render 'change_video' %>
    </div>
</div>