<%= content_for :includes do %>
    <%= stylesheet_link_tag 'room' %>
    <%= javascript_pack_tag 'room/index_main' %>
    <script src="https://www.youtube.com/iframe_api"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<% end %>

<title>Watch with your friends here!</title>

<!-- Hidden Variables -->
<div
    id="room_id"
    data-channel-subscribe="room"
    data-room-id="<%= @roomID %>" hidden>
</div>
<div
    id="user_id"
    title="<%= @userID %>" hidden>
</div>
<!-- Actual Body -->
<div class="container-fluid">
<div class="row justify-content-center">
    <div class="col p-0 text-center align-middle">
        <%= image_tag("Logo2.svg", :style => "height:2.5rem; display: inline", :alt => "logo") %>
        <h1 class="logo mb-0 align-middle" style="display: inline"><strong>Virtual Couch</strong></h1>
    </div>
</div>
    <div class="row row-eq-height">
        <div class="col-8 pr-0">
            <div id="holder">
                <div class="embed-responsive embed-responsive-16by9">
                    <div id="player" class="embed-responsive-item"></div>
                </div>
                <div id="overlay"></div>
                <div id="controls">
                    <div id="seek" class="progress mb-2">
                        <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="transition: none"></div>
                    </div>
                    <button id="play" class="btn btn-light overButtons" type="button" title="Play">
                        <i id="playIcon" class="fas fa-play"></i>
                    </button>
                    <button id="volDown" class="btn btn-light overButtons" type="button" title="Volume Up">
                        <i class="fas fa-volume-down"></i>
                    </button>
                    <button id="volUp" class="btn btn-light overButtons" type="button" title="Volume Down">
                        <i class="fas fa-volume-up"></i>
                    </button>
                    <div id="time" class="card" style="background-color: rgb(240, 240, 240)">
                        <span><span id='curTime'>..</span> <strong>/</strong> <span id="totTime">..</span></span>
                    </div>
                    <button id="fullscreen" class="btn btn-light overButtons" type="button" title="Full Screen">
                        <i class="fas fa-compress"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col pr-2">
            <div class="card" style="min-height: 75vh">
                <h2 class="card-title mb-0 text-center">Chat</h2>
                <h6 class="card-subtitle text-center text-muted mb-1">Room ID: <%= @roomName %></h6>
                <div class="card-body pt-0 pb-1">
                    <div id="scroll"></div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="message" placeholder="Type Message">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-microphone"></i>
                            </button>
                            <button id="sendChat" class="btn btn-light" type="button">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-eq-height pt-1 pb-0">
        <div class="col-4 pr-0">
            <div class="input-group">
                <input type="text" class="form-control" id="videoLink" placeholder="Youtube Link">
                <div class="input-group-append">
                    <button id="changeVideo" class="btn btn-light" type="button">Change Video</button>
                </div>
            </div>
        </div>
        <div class="col-2 pl-0">
            <div id="error"></div>
        </div>
    </div>
</div>