<% content_for :includes do %>
    <%= stylesheet_link_tag 'home' %>
    <%= javascript_pack_tag 'welcome/home_main' %>
<% end %>

<title>Create a couch or join one to watch with your friends!</title>
<div id="361834364">
    <script type="text/javascript">
        try {
            window._mNHandle.queue.push(function (){
                window._mNDetails.loadTag("361834364", "970x250", "361834364");
            });
        }
        catch (error) {}
    </script>
</div>
<div id="overlay"></div>
<div class="container-fluid">
    <%= render 'logo' %>
    <%= render 'title' %>
    <%= render 'couch_buttons' %>
    <%= render 'modals' %>
</div>