<!DOCTYPE html>
<html style="height: 100vh">
  <head>
    <title>VideoShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('Logo2.svg') %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :includes %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
